<p>ようこそ{{ user?.name }}</p>
<div class="d-flex">
  <input type="text" />
  <button>検索</button>
  <input
    id="name"
    type="radio"
    value="name"
    name="search"
    [(ngModel)]="search"
    (change)="onChangeSearch($event)"
  /><label for="name">名前で検索</label>
  <input
    id="place"
    type="radio"
    value="place"
    name="search"
    [(ngModel)]="search"
    (change)="onChangeSearch($event)"
  /><label for="place">場所で検索</label>
</div>
<table *ngIf="buying_list.length > 0">
  <tr>
    <th>名前</th>
    <th>場所</th>
    <th>締め切り</th>
  </tr>
  <tr *ngFor="let list of buying_list">
    <td>
      <a [href]="'/#/buying-list/' + list.id">{{ list.name }}</a>
    </td>
    <td>{{ list.place }}</td>
    <td>{{ list.deadline }}</td>
    <td>
      <button (click)="onClickDelete(list.id)">delete</button>
    </td>
  </tr>
</table>
<button (click)="onClickCreateBuyingList()">買い物リストを作成</button>
