<input type="text" [value]="list.name" />

<input type="text" [value]="list.place" />
<input type="date" [value]="list.deadline.substr(0, 10)" />

<div class="items">
  <div class="item" *ngFor="let item of list.items">
    <input type="checkbox" [checked]="item.check" (click)="toggle(item.id)" />
    {{ item.name }},{{ item.price }},{{ item.count }}
    <button (click)="deleteItem(item.id)">削除</button>
  </div>
</div>

<form>
  <label name="itemName">名前</label
  ><input type="text" name="id" [(ngModel)]="itemName" /> <label>金額</label
  ><input type="number" name="itemPrice" [(ngModel)]="itemPrice" />
  <label>数量</label
  ><input type="number" name="itemNum" [(ngModel)]="itemNum" />
  <button (click)="addItem()">追加</button>
</form>
